##### 점프 투 파이썬
---
02장 연습문제

> Q1    
``` py
    홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

    과목	점수
    국어	80
    영어	75
    수학	55   
```

In [6]:
korean = 80 # 국어점수
english = 75 # 영어점수
math = 55 # 수학점수
# 왼쪽 = 오른쪽
# 오른쪽을 먼저 연산하며 왼쪽에 할당.

total = korean + english + math # 총점

avg = total/3 # 평균

print("평균은" , avg , "입니다.") # 평균 출력하기.

평균은 70.0 입니다.

In [16]:
# 변수가 여러개일때는? ex> 과목이 100개 있다면?
# 배열을 사용 []

print(type([]))
# 객체를 모를 땐 꼭! 확인하자.

subjects = [80, 75, 55]
subjects[0] # 인덱스는 0부터 시작. 위를 살펴보면 0번은 80, 1번은 75, 2번은 55
total = subjects[0] + subjects[1] +subjects[2] ## 총점
print(total) # 총점 출력

subjects.__len__() # 배열의 길이(갯수)
# __ : 스페셜 메소드. 매직 메소드. 객체 내에서만 호출할 수 있도록 만들어 놓은 개념.
len(subjects)
# 같은 의미의 함수 

avg = total / len(subjects) # 평균. 길이 확인 함수로 갯수 확인하여 사용 가능
print("평균은" , avg , "입니다.") # 평균 출력하기.

<class 'list'>
210
평균은 70.0 입니다.

In [26]:
subjects = [80, 75, 55, 75, 80]
# help(subjects) ::  객체에 대한 설명 출력
total = sum(subjects) # 합계 계산 함수.
# 배열을 사용하면 갯수가 늘어났을 때 아래 수식은 변경할 필요가 없다. 
# 배열에 값만 추가하면 가능하다.

avg = total / len(subjects)
print("평균은" , avg , "입니다.") # 평균 출력하기.

평균은 73.0 입니다.

In [33]:
# 배열의 단점은 해당 숫자들의 값이 어떤 값인지 알 수 없다.
# 국어 점수인지, 수학 점수인지, 영어 점수인지 알 수 없음.
# {} 를 사용하면 알 수 있게 된다.
subjects = {"국어":80, "영어":75, "수학":55} # {"키":값}
print({type({})}) # {<class 'dict'>}

total = subjects["국어"] + subjects["영어"] + subjects["수학"]
avg = total / len(subjects)
print("평균은" , avg , "입니다.") # 평균 출력하기.

{<class 'dict'>}
평균은 70.0 입니다.

In [1]:
# 사용자로부터 이름과 성적을 입력받아 총점과 평균을 출력하는 프로그램을 작성하시오.
name = input("이름을 입력하세요.: ")
# print("입력하신 이름은", name, "입니다.")
kor = input("국어점수를 입력하세요.:")
eng = input("영어점수를 입력하세요.:")
math = input("수학점수를 입력하세요.:")

total = int(kor) + int(eng) + int(math)
# input은 str타입이기 때문에 int로 형변환 시켜준다.
avg = total/3
print(name,"님의 총점은 ", total, "입니다.")
print(name,"님의 평균은 ", avg, "입니다.")
# print(type(name)) :: str타입.
# 파이썬에서의 print는 자바에서의 println과 동일하다.

fourp 님의 총점은  255 입니다.
fourp 님의 평균은  85.0 입니다.

> Q2   
``` py
    자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
```

In [8]:
# 짝수라면 끝자리 수가 02468
# 홀수라면 끝자리 수가 13579

'8' in '02468'

if '7' in "02468":
    print("짝수입니다.")
else:
    print("홀수입니다.")

print("="*20)

# 사용자로부터 정수를 입력받아 홀짝수를 판별하는 프로그램 작성
number = input("숫자를 입력해주세요.")
if number[-1] in "02468": # 마지막 자리 에 02468이 들어간다면
    print("입력하신", number,"은/는 짝수입니다.")
else:
    print("입력하신", number,"은/는 홀수입니다.")

홀수입니다.
====================
입력하신 584 은 짝수입니다.

In [10]:
# 2n + 1, 2n -1 

number = input("숫자를 입력해주세요.")
if int(number) % 2 == 0 :
    print("입력하신", number,"은/는 짝수입니다.")
else:
    print("입력하신", number,"은/는 홀수입니다.")

입력하신 7 은/는 홀수입니다.

> Q3   
``` py   
    홍길동 씨의 주민등록번호는 881120-1068234이다.  
    홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
```

In [14]:
pin = "881120-1068234"
yymmdd = "19" + pin[:5 + 1] # 6이라고 써도되지만 인덱스 번호가 5번이므로 5 + 1 로 표기함.

print(yymmdd)

19881120

> Q4   
``` py   
    주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.    
    주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.   
```

In [34]:
# 사용자로부터 주민번호를 입력받아 출생년도와 나이, 성별을 출력해주는 프로그램을 작성하시오.
# pin = "8811201068234"

# 입력받은 주민번호
pin = input("주민등록번호를 포함해 입력해주세요.")
#주민번호 앞자리 추출
yymmdd= pin[:5 + 1]
#성별
gender = pin[5 + 1]
#출생년도
year=""
#나이
age = 0

year = '19' + yymmdd[:1+1]
if gender in "12":
    year = '19' + yymmdd[:1+1]
elif gender in "34":
    year = '19' + yymmdd[:1+1]

age = 2022 - int(year) + 1

print("당신의 출생년도는 {}년 ".format(year))
print("당신의 나이는{}세".format(age))

if int(gender) % 2 == 0:
    print("여성입니다.")
else :
    print("남성입니다.")

당신의 출생년도는 1988년
당신의 나이는35세
남성입니다.

> Q5   
``` py
    다음과 같은 문자열 a:b:c:d가 있다.    
    문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.   
```

In [47]:
text = "a:b:c:d"
print(text)

print("a:b:c:d".replace(":","#"))

tt = "12:03:21"
print(tt.replace(":","/"))

te = " Python programing"
print(te.replace("Python","JAVA"))

strs = "abcd"
print(strs, end = " ")
print(strs, end = " ")
print(strs, end = "\n")
print(strs)

for c in strs:
    print(c, end= "- ")

a:b:c:d
a#b#c#d
12/03/21
 JAVA programing
abcd abcd abcd
abcd
a, b, c, d,

> Q6.   
``` py   
    [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.   
```

In [50]:
li = [1, 3, 5, 4, 2]
# li.reverse()
# print(li)
li.sort()
print(li)

li.reverse()
print(li)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [54]:
li = [100, 30, 50, 40, 20, 95]

# 점수를 입력했다고 가정했을때
# 최저 점수와 최고 점수를 출력해보자.
li.sort()
print(li)

li.reverse()
print(li)

max(li) == li[0]

[20, 30, 40, 50, 95, 100]
[100, 95, 50, 40, 30, 20]

True

> Q7.   
``` py   
    ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.   
```

In [62]:
old_text = ['Life', 'is', 'too', 'short']
#new_text = old_text[0] +" "+ old_text[1] +" "+ old_text[2] +" "+ old_text[3]
new_text = ""

for s in old_text:
    print(new_text)
    new_text += s + " "

print(new_text)

new_text2 = "{} {} {} {}".format(old_text[0],old_text[1],old_text[2],old_text[3])
print(new_text2)

Life
Life is
Life is too
Life is too short
Life is too short

> Q8.   
``` py   
    (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.   
```

In [74]:
# 2차원 배열. 배열 안에 배열이 또 있는 것.
# 하단의 배열에서 200의 값을 출력하려면?
objects = ['a', 1, True, [100, 200]]
objects[3][1]

# 하단의 3차원 배열에서 y를 출력하려면?
objects2 = ['a', 1, True, [100, ['x','y']]]
objects2[3][1][1]


li = [1, 2, 3] 
tu = (1, 2, 3) # 상수임. 할당 후 변경, 추가 불가능.

li.append(4)

li[0] = 100
print("li =", li)

# tu[0] = 100
print("tu =", tu)
type(tu)

li2 = [1, 2, 3, 4]
tu2 = tuple(li2)
print("tu2 =", tu2)

li = [100, 2, 3, 4]
tu = (1, 2, 3)
tu2 = (1, 2, 3, 4)

> Q9.   
``` py   
    다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가?   
    그리고 그 이유를 설명해 보자.   
    >>> a = dict()   
    >>> a   
    {}   

    다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   

    1. a['name'] = 'python'   
    2. a[('a',)] = 'python'   
    3. a[[1]] = 'python'   
    4. a[250] = 'python'   
```

In [84]:
# 키로 넣을 수 없는 것은? 이라는 문제.
a = dict()
#1.
a['name'] = 'python'
print(a)

#2.
a[('a',)] = 'python' #튜플
print(a)

#3.
#a[[1]] = 'python' #리스트
#print(a)

#4.
a[250] = 'python'
print(a)

# 딕셔너리 기본키는 유일해야한다.
# => 3번이 불가능하다.

{'name': 'python'}
{'name': 'python', ('a',): 'python'}
{'name': 'python', ('a',): 'python', 250: 'python'}

In [85]:
text = "Python"
text[0] = 'J'

print(text)

# 불가능

TypeError: 'str' object does not support item assignment

> Q10   
``` py   
    딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.   

    >>> a = {'A':90, 'B':80, 'C':70}   
    ※ 딕셔너리의 pop 함수를 사용해 보자.   
```

In [90]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')
print(a)

# pop은 해당값을 꺼내서 버리라는 의미이다.

{'A': 90, 'C': 70}

> Q11   
``` py   
    a 리스트에서 중복 숫자를 제거해 보자.   

    >>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]    
    ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.    
```

In [92]:
[1, 2, 3]
(1, 2, 3)
{'a':1, 'b':2, 'c':3}
{1, 2, 3}


se = {1, 2, 3, 3, 3, 1, 2}
print(se)

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a2 = set(a) # set으로 변환
print(a2)

{1, 2, 3}
{1, 2, 3, 4, 5}

> Q12   
``` py   
    파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.    
    다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?    
    그리고 이런 결과가 오는 이유에 대해 설명해 보자.   

    >>> a = b = [1, 2, 3]   
    >>> a[1] = 4   
    >>> print(b)   
```

In [95]:
a = b = [1, 2, 3]   

print(id(a))
print(id(b))
# a와 b의 주소값이 같다.

a[1] = 4   
print(a) 
print(b)

2642914825600
2642914825600
[1, 4, 3]
[1, 4, 3]

In [96]:
a = [1, 2, 3]
b = [1, 2, 3]   

print(id(a))
print(id(b))
# a와 b의 주소값이 다르다.

a[1] = 4   
print(a) 
print(b)

2642916805888
2642916801024
[1, 4, 3]
[1, 2, 3]